// Reset Css
@import "reset";

// Google Font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

// Variables
$darkBlue: hsl(240, 38%, 20%);
$grayishBlue: hsl(240, 18%, 77%);
$inter: 'Inter', sans-serif;

// Mixin
@mixin pad {
    @media (max-width: 1240px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 660px) {
        @content;
    }
}

// My Css
* {
    box-sizing: border-box;
}

body {
    font-family: $inter;
    background: #fff;
    color: $darkBlue;
}

img {
    width: 100%;
}

.d-none {
    display: none;
}

.smallScreenOnly {
    display: none;
    @include pad {
        display: block;
    }
}

.wrap {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
    padding: 50px 0;
    @include pad {
        padding: 25px 0 50px 0;
    }
    @include mobile {
        padding: 25px 0 10px 0;
    }
}

.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    padding-left: 55px;
    margin: 0 auto;
    @include pad {
        display: block;
        padding: 0 20px;
    }
}

.image {
    max-width: 697px;
    position: relative;
    @include pad {
        margin: 0 auto;
    }
}

.person {
    max-width: 540px;
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.switch {
    display: flex;
    position: absolute;
    left: 27%;
    top: 90%;
    transform: translate(-50%, -40%);
    background: #fff;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(150, 150, 150, 0.5);
    @include pad {
        left: 50%;
        transform: translate(-50%, -20%);
    }
    @include mobile {
        transform: translate(-50%, -30%);
        border-radius: 20px;
    }
    button {
        display: block;
        outline: none;
        border: none;
        margin: 0;
        padding: 15px 23px;
        background: #fff;
        cursor: pointer;
        @include mobile {
            padding: 12px 16px;
        }
        &:hover {
            background: darken(#fff, 5%);
        }
        img {
            display: block;
            @include mobile {
                height: 15px;
            }
        }
    }
}

.text {
    position: relative;
    @include pad {
        margin: 50px auto 100px;
        width: 555px;
    }
    @include mobile {
        margin: 30px auto 50px;
        max-width: 310px;
    }
}

.quote {
    max-width: 120px;
    position: absolute;
    left: 100px;
    top: 0;
    @include pad {
        left: 50%;
        top: 5px;
        transform: translateX(-50%);
    }
    @include mobile {
        max-width: 60px;
    }
}

.content {
    font-size: 32px;
    font-weight: 300;
    width: 650px;
    line-height: 1.5;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    @include pad {
        left: 50%;
        transform: translate(-50%, -55%);
        text-align: center;
        width: 555px;
    }
    @include mobile {
        font-size: 18px;
        transform: translate(-50%, -60%);
        max-width: 310px;
    }
}

.author {
    font-size: 20px;
    font-weight: 700;
    padding-top: 350px;
    @include pad {
        padding-top: 430px;
        text-align: center;
        line-height: 1.5;
    }
    @include mobile {
        padding-top: 230px;
        font-size: 14px;
    }
    span {
        display: inline-block;
        color: $grayishBlue;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    a {
        color: hsl(228, 45%, 44%);
    }
}

.curve {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 80%;
    max-width: 610px;
}